Repository polywrap/ethereum-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dOrgJelli, @krisbitney, @cbrzn, @Niraj-Kamdar

.github/CODEOWNERS:

# Default
* @dOrgJelli

# Interface
interface @krisbitney @cbrzn

# Js implementation
implementations/js @krisbitney @cbrzn

# Py implementation
implementations/py @Niraj-Kamdar @cbrzn

chore: upgrade interface to 0.10
  interface/README.md
  interface/package.json
  interface/polywrap.graphql
  interface/polywrap.yaml
  interface/resources/README.md
  interface/yarn.lock
Owners: @krisbitney, @cbrzn

chore: update js implementation
  implementations/js/README.md
  implementations/js/package.json
  implementations/js/polywrap.graphql
Owners: @krisbitney, @cbrzn

chore: update yarn.lock
  implementations/js/yarn.lock
Owners: @krisbitney, @cbrzn

chore: fix
  implementations/js/polywrap.yaml
Owners: @krisbitney, @cbrzn

chore: update workflow names
  .github/workflows/interface-ci.yaml
  .github/workflows/js-cd.yaml
  .github/workflows/js-ci.yaml
  .github/workflows/py-cd.yaml
  .github/workflows/py-ci.yaml
Owners: @dOrgJelli

chore: fix CD workflow
  .github/workflows/interface-cd.yaml
  .github/workflows/js-cd.yaml
  .github/workflows/py-cd.yaml
  implementations/js/package.json
  interface/URI.txt
Owners: @dOrgJelli, @krisbitney, @cbrzn

interface: update deployment URI
  interface/URI.txt
  interface/deployment.json
Owners: @krisbitney, @cbrzn

fix(eth_signTypedData): only stringify params in metamask & test w/ganache
  implementations/js/package.json
  implementations/js/src/Connection.ts
  implementations/js/src/index.ts
  implementations/js/tests/index.spec.ts
Owners: @krisbitney, @cbrzn

chore: add yarn.lock + fix build
  implementations/js/src/Connection.ts
  implementations/js/yarn.lock
Owners: @krisbitney, @cbrzn

fix(eth_signTypedData): only stringify params in metamask (#4)
  implementations/js/package.json
  implementations/js/src/Connection.ts
  implementations/js/src/index.ts
  implementations/js/tests/index.spec.ts
  implementations/js/yarn.lock
Owners: @krisbitney, @cbrzn

chore(ci): run scripts on pushes to main
  .github/workflows/interface-ci.yaml
  .github/workflows/js-ci.yaml
  .github/workflows/py-ci.yaml
Owners: @dOrgJelli

chore(ci): run scripts on pushes to main (#5)
  .github/workflows/interface-ci.yaml
  .github/workflows/js-ci.yaml
  .github/workflows/py-ci.yaml
Owners: @dOrgJelli

chore(py): update polywrap.yaml
  implementations/py/polywrap.yaml
Owners: @Niraj-Kamdar, @cbrzn

chore(py): update polywrap.yaml (#6)
  implementations/py/polywrap.yaml
Owners: @Niraj-Kamdar, @cbrzn

[CD]: release 0.1.0a1 ethereum-provider python plugin
  implementations/py/poetry.lock
  implementations/py/polywrap_ethereum_provider/py.typed
Owners: @Niraj-Kamdar, @cbrzn

feat: swift implementation
  implementations/swift-metamask/.gitignore
  implementations/swift-metamask/Package.resolved
  implementations/swift-metamask/Package.swift
  implementations/swift-metamask/README.md
  implementations/swift-metamask/Sources/MetamaskProvider/MetamaskProvider.swift
  implementations/swift-metamask/Sources/MetamaskProvider/Utils.swift
  implementations/swift-metamask/include/PolywrapNativeClient.h
  implementations/swift-metamask/include/module.modulemap
Owners: @dOrgJelli

chore(py): include wrap folder in release & bump version
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar, @cbrzn

chore(py): include wrap folder in release & bump version (#11)
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar, @cbrzn

feat: rust implementation init
  implementations/rs/.gitignore
  implementations/rs/Cargo.toml
  implementations/rs/ideas
  implementations/rs/package.json
  implementations/rs/polywrap.graphql
  implementations/rs/polywrap.yaml
  implementations/rs/src/connection.rs
  implementations/rs/src/connections.rs
  implementations/rs/src/lib.rs
  implementations/rs/src/networks.rs
  implementations/rs/src/wrap/mod.rs
  implementations/rs/src/wrap/module.rs
  implementations/rs/src/wrap/types.rs
  implementations/rs/src/wrap/wrap.info.rs
  implementations/rs/tests/it/main.rs
  implementations/rs/yarn.lock
Owners: @dOrgJelli

feat: eth call parameters implemented & tested
  implementations/rs/ideas
  implementations/rs/src/handler.rs
  implementations/rs/src/lib.rs
  implementations/rs/src/wrap/module.rs
  implementations/rs/tests/it/main.rs
  implementations/rs/tests/it/request.rs
  implementations/rs/todo
Owners: @dOrgJelli

chore: improve structure of handlers + add get block by number
  implementations/rs/src/handler.rs
  implementations/rs/src/lib.rs
  implementations/rs/tests/it/main.rs
  implementations/rs/tests/it/request.rs
Owners: @dOrgJelli

feat: add sign typed data & get_signer function
  implementations/rs/Cargo.toml
  implementations/rs/src/connection.rs
  implementations/rs/src/connections.rs
  implementations/rs/src/handler.rs
  implementations/rs/src/lib.rs
  implementations/rs/tests/it/request.rs
Owners: @dOrgJelli

feat: implement send transaction and other plugin methods
  implementations/rs/src/lib.rs
  implementations/rs/src/networks.rs
  implementations/rs/tests/it/main.rs
  implementations/rs/tests/it/request.rs
Owners: @dOrgJelli

feat: sign transaction implemented & remove unused variables
  implementations/rs/src/lib.rs
  implementations/rs/tests/it/main.rs
Owners: @dOrgJelli

feat: implement ci/cd for rust implementation
  .github/workflows/rs-cd.yaml
  .github/workflows/rs-ci.yaml
Owners: @dOrgJelli

chore: improvements of code based on clippy feedback
  implementations/rs/src/connection.rs
  implementations/rs/src/connections.rs
  implementations/rs/src/handler.rs
  implementations/rs/src/lib.rs
  implementations/rs/src/wrap/module.rs
  implementations/rs/tests/it/main.rs
Owners: @dOrgJelli

chore: set version 0.0.1-beta.1
  implementations/rs/Cargo.toml
Owners: @dOrgJelli

chore: lowercase network name in from alias method
  implementations/rs/src/networks.rs
Owners: @dOrgJelli

chore: improve params sanatizer + parser
  implementations/rs/src/handler.rs
  implementations/rs/src/lib.rs
  implementations/rs/src/types.rs
Owners: @dOrgJelli

chore: remove codegen from ci/cd + remove unused method
  .github/workflows/rs-cd.yaml
  .github/workflows/rs-ci.yaml
  implementations/rs/src/types.rs
Owners: @dOrgJelli

chore: try reusable workflow
  .github/workflows/rs-ci.yaml
Owners: @dOrgJelli

chore: update binding & return stringfied value in request method
  implementations/rs/Cargo.toml
  implementations/rs/src/lib.rs
  implementations/rs/src/types.rs
  implementations/rs/src/wrap/module.rs
  implementations/rs/tests/it/main.rs
  implementations/rs/tests/it/request.rs
Owners: @dOrgJelli

chore: use reusable workflow for rust implementation
  .github/workflows/rs-cd.yaml
  .github/workflows/rs-ci.yaml
Owners: @dOrgJelli

chore: clean up ci/cd for rust implementation
  .github/workflows/rs-cd.yaml
  .github/workflows/rs-ci.yaml
Owners: @dOrgJelli

chore: update client version & bump version
  implementations/rs/Cargo.toml
  implementations/rs/todo
Owners: @dOrgJelli

chore: handle fee history method
  implementations/rs/Cargo.toml
  implementations/rs/src/connection.rs
  implementations/rs/src/lib.rs
  implementations/rs/src/types.rs
  implementations/rs/tests/it/request.rs
Owners: @dOrgJelli

chore(rs): fix send transaction
  implementations/rs/Cargo.toml
  implementations/rs/src/connection.rs
  implementations/rs/src/connections.rs
  implementations/rs/src/lib.rs
  implementations/rs/tests/it/main.rs
  implementations/rs/tests/it/request.rs
Owners: @dOrgJelli

chore(rs): fix sign typed data
  implementations/rs/src/lib.rs
  implementations/rs/tests/it/request.rs
Owners: @dOrgJelli

chore: update client to v 0.1.6-beta.5 & bump version
  implementations/rs/Cargo.toml
Owners: @dOrgJelli

refactor: plugin
  implementations/py/package.json
  implementations/py/poetry.lock
  implementations/py/polywrap_ethereum_provider/__init__.py
  implementations/py/polywrap_ethereum_provider/connection.py
  implementations/py/polywrap_ethereum_provider/connections.py
  implementations/py/pyproject.toml
  implementations/py/tests/conftest.py
  implementations/py/tests/test_request.py
  implementations/py/tests/test_sign_message.py
  implementations/py/tests/test_sign_transaction.py
  implementations/py/tests/test_signer_address.py
  implementations/py/tests/test_wait_for_transaction.py
  implementations/py/yarn.lock
Owners: @Niraj-Kamdar, @cbrzn
