Repository polywrap/ethereum-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dOrgJelli, @krisbitney, @cbrzn, @Niraj-Kamdar

docs: add readme
  implementations/py/README.md
Owners: @Niraj-Kamdar, @cbrzn

chore: do not bump version
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar, @cbrzn

Update README.md
  implementations/py/README.md
Owners: @Niraj-Kamdar, @cbrzn

Update implementations/py/README.md
  implementations/py/README.md
Owners: @Niraj-Kamdar, @cbrzn

bump polywrap-ethereum-provider version to 0.1.0a2
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar, @cbrzn

release polywrap-ethereum-provider python plugin 0.1.0a3
  .github/workflows/py-cd.yaml
  implementations/py/pyproject.toml
Owners: @dOrgJelli, @Niraj-Kamdar, @cbrzn

debug
  .github/workflows/py-cd.yaml
  implementations/py/pyproject.toml
Owners: @dOrgJelli, @Niraj-Kamdar, @cbrzn

revert back debug changes
  .github/workflows/py-cd.yaml
Owners: @dOrgJelli

bump version 0.1.0a4
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar, @cbrzn

chore: bump polywrap-client version to latest
  implementations/py/poetry.lock
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar, @cbrzn

bump polywrap-client version to 0.1.0a35
  implementations/py/poetry.lock
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar, @cbrzn

[CD] release 0.1.0a5 python plugin
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar, @cbrzn

[CD] release 0.1.0a5 python plugin
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar, @cbrzn

chore: update with latest changes from client
  implementations/rs/Cargo.toml
  implementations/rs/src/wrap/types.rs
  implementations/rs/tests/it/main.rs
  implementations/rs/tests/it/request.rs
Owners: @dOrgJelli

chore: fix sign typed data & bump version
  implementations/rs/Cargo.toml
  implementations/rs/src/lib.rs
  implementations/rs/tests/it/request.rs
Owners: @dOrgJelli

chore(swift): add generated folder
  implementations/swift-metamask/.gitignore
  implementations/swift-metamask/Sources/MetamaskProvider/wrap/Types.swift
Owners: @dOrgJelli

chore(swift/metamask): use podspec instead of spm
  implementations/swift-metamask/.gitignore
  implementations/swift-metamask/MetamaskProvider.podspec
  implementations/swift-metamask/Package.resolved
  implementations/swift-metamask/Package.swift
  implementations/swift-metamask/Source/MetamaskProvider/MetamaskProvider.swift
  implementations/swift-metamask/Source/MetamaskProvider/Utils.swift
  implementations/swift-metamask/Source/MetamaskProvider/wrap/Types.swift
  implementations/swift-metamask/include/PolywrapNativeClient.h
  implementations/swift-metamask/include/module.modulemap
Owners: @dOrgJelli

chore(swift/metamask): update podspec file name
  implementations/swift-metamask/MetamaskProviderPlugin.podspec
Owners: @dOrgJelli

chore: deploy to wrapscan
  .github/workflows/interface-cd.yaml
  .nvmrc
  interface/README.md
  interface/package.json
  interface/polywrap.deploy.yaml
  interface/polywrap.docs.yaml
  interface/polywrap.yaml
  interface/resources/README.md
  interface/yarn.lock
Owners: @dOrgJelli, @krisbitney, @cbrzn

interface: update deployment URI
  interface/URI.txt
  interface/deployment.json
Owners: @krisbitney, @cbrzn

chore: update js impl to wrapscan
  implementations/js/README.md
  implementations/js/package.json
  implementations/js/polywrap.graphql
  implementations/js/polywrap.yaml
  implementations/js/tests/index.spec.ts
  implementations/js/yarn.lock
Owners: @krisbitney, @cbrzn

chore: update naming to EthereumWallet
  implementations/js/README.md
  implementations/js/polywrap.yaml
  implementations/js/src/index.ts
  implementations/js/tests/index.spec.ts
Owners: @krisbitney, @cbrzn

chore: add swift metamask in ci & improve structure
  .github/workflows/swift-metamask-ci.yaml
  implementations/swift/metamask/.gitignore
  implementations/swift/metamask/MetamaskProviderPlugin.podspec
  implementations/swift/metamask/README.md
  implementations/swift/metamask/Source/MetamaskProvider.swift
  implementations/swift/metamask/Source/Utils.swift
  implementations/swift/metamask/Source/wrap/Types.swift
Owners: @dOrgJelli

chore(swift/metamask): update source files
  implementations/swift/metamask/MetamaskProviderPlugin.podspec
Owners: @dOrgJelli

chore: move podspec to root
  MetamaskProviderPlugin.podspec
Owners: @dOrgJelli

chore: prepare structure for bindgen
  MetamaskProviderPlugin.podspec
  implementations/swift/metamask/package.json
  implementations/swift/metamask/polywrap.graphql
  implementations/swift/metamask/polywrap.yaml
Owners: @dOrgJelli

chore: update swift impl with bindgen
  MetamaskProviderPlugin.podspec
  implementations/swift/metamask/Source/MetamaskProvider.swift
  implementations/swift/metamask/Source/Utils.swift
  implementations/swift/metamask/Source/wrap/Module.swift
  implementations/swift/metamask/Source/wrap/Types.swift
Owners: @dOrgJelli

chore: expose plugin with added methods & bump version
  MetamaskProviderPlugin.podspec
  implementations/swift/metamask/Source/MetamaskProvider.swift
Owners: @dOrgJelli

chore: fix swift ci
  .github/workflows/swift-metamask-ci.yaml
Owners: @dOrgJelli

chore: expose getter method
  implementations/swift/metamask/Source/MetamaskProvider.swift
Owners: @dOrgJelli

chore: update client version
  MetamaskProviderPlugin.podspec
Owners: @dOrgJelli

chore: update source to main
  MetamaskProviderPlugin.podspec
Owners: @dOrgJelli

feat: swift implementation (#8)
  .github/workflows/swift-metamask-ci.yaml
  MetamaskProviderPlugin.podspec
  implementations/swift/metamask/.gitignore
  implementations/swift/metamask/README.md
  implementations/swift/metamask/Source/MetamaskProvider.swift
  implementations/swift/metamask/Source/Utils.swift
  implementations/swift/metamask/Source/wrap/Module.swift
  implementations/swift/metamask/Source/wrap/Types.swift
  implementations/swift/metamask/package.json
  implementations/swift/metamask/polywrap.graphql
  implementations/swift/metamask/polywrap.yaml
Owners: @dOrgJelli

init scaffolding
  implementations/kt/.gitignore
  implementations/kt/.nvmrc
  implementations/kt/build.gradle.kts
  implementations/kt/convention-plugins/build.gradle.kts
  implementations/kt/convention-plugins/src/main/kotlin/convention.publication.gradle.kts
  implementations/kt/gradle.properties
  implementations/kt/gradle/wrapper/gradle-wrapper.jar
  implementations/kt/gradle/wrapper/gradle-wrapper.properties
  implementations/kt/gradlew
  implementations/kt/gradlew.bat
  implementations/kt/package.json
  implementations/kt/polywrap.graphql
  implementations/kt/polywrap.yaml
  implementations/kt/settings.gradle.kts
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/HttpPlugin.kt
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/wrap/module.kt
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/wrap/types.kt
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/wrap/wrap.info.kt
  implementations/kt/yarn.lock
Owners: @dOrgJelli

added kotlin KnownNetwork, Connection, and Connections
  implementations/kt/build.gradle.kts
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/Connection.kt
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/Connections.kt
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/EthereumWalletPlugin.kt
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/KnownNetwork.kt
Owners: @dOrgJelli

first draft of kotlin EthereumWalletPlugin
  implementations/kt/build.gradle.kts
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/Connection.kt
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/Connections.kt
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/EthereumWalletPlugin.kt
Owners: @dOrgJelli

kotlin plugin - implemented waitForTransaction
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/EthereumWalletPlugin.kt
Owners: @dOrgJelli

kotlin plugin - added doc comments and tests
  implementations/kt/build.gradle.kts
  implementations/kt/package.json
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/Connection.kt
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/Connections.kt
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/KnownNetwork.kt
  implementations/kt/src/test/kotlin/Util.kt
  implementations/kt/src/test/kotlin/io/polywrap/plugins/ethereum/ConnectionTest.kt
  implementations/kt/src/test/kotlin/io/polywrap/plugins/ethereum/ConnectionsTest.kt
  implementations/kt/src/test/kotlin/io/polywrap/plugins/ethereum/EthereumWalletPluginIntegrationTest.kt
  implementations/kt/src/test/kotlin/io/polywrap/plugins/ethereum/EthereumWalletPluginTest.kt
Owners: @dOrgJelli

kotlin plugin - updated to handle non-memory signer
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/EthereumWalletPlugin.kt
  implementations/kt/src/test/kotlin/io/polywrap/plugins/ethereum/EthereumWalletPluginTest.kt
Owners: @dOrgJelli

kotlin plugin - updated to request to prepare for KEthereum update
  implementations/kt/src/main/kotlin/io/polywrap/plugins/ethereum/EthereumWalletPlugin.kt
Owners: @dOrgJelli

.github/CODEOWNERS:

# Default
* @dOrgJelli

# Interface
interface @krisbitney @cbrzn

# Js implementation
implementations/js @krisbitney @cbrzn

# Py implementation
implementations/py @Niraj-Kamdar @cbrzn
